@charset "utf-8";

/* ==========================================================================
    Tabel Of Contents
   ========================================================================== 
   1.Common
   2.Interactive-inner
   3.root
   4.Header
   5.Nav
   6.Menu
   7.Main
   8.Footer
*/


/* ==========================================================================
    사용된 폰트 종류
    
    font-family: 'Cinzel', serif;
    font-family: 'Noto Sans KR', sans-serif; 
   ==========================================================================
*/


/* ==========================================================================
    1.Common 
   ==========================================================================
*/

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
    font-size: 1.4rem;
}

#wrap {
    overflow: hidden;
    color: #000;
}

h1 img {
    height: 50px;
}

h2, h3 {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

a, img {
    display: block;
}

i {
    font-size: 3rem;
}


/* ==========================================================================
    2.Interactive
   ==========================================================================
*/

.inner {
    max-width: 700px;
    margin: 0 auto;
}

    @media (max-width:700px) {
        .inner {
            max-width: calc(100% - 30px);
        }
    }

/* 꽉 찬 속 */
.max_inner {
    margin: 0 auto;
    max-width: 700px;
}

/* ==========================================================================
    3.root 
   ==========================================================================
*/

:root {
    /* 색깔 */
    --positive: rgba(0, 102, 17, 0.2);
    --negative: rgba(129, 1, 1, 0.2);
    --possibble: green;
    --impossible: red;

    --yellowcolor : #E97E00;
    --yellowopacity : rgba(233,126,0,0.1);

    --black : #333333;

    --graylight : #f5f5f5;
    --graysemilight : #eeeeee;
    --graysemistrong : #d2d2d2;
    --graystrong : #aaaaaa;
    --graytypeB : #6B6B6B;

    --navgray : #aaaaaa;

    --aboutus : #41b1b9;

    /* 폰트사이즈 */
    --title : 2.4rem;
    --titlemain : 3rem;

    --largeicon : 3rem;

    --large: 2rem;
    --medium: 1.6rem;
    --small: 1.2rem;
}


/* ==========================================================================
    4.Header 
   ==========================================================================
*/

#header {
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,0.3);
    z-index: 9999;
}

#header h1 img {
    height: 50px;
}

.container {
    height: 50px;
    border-bottom: rgba(255,255,255,0.6) 1px solid;
}

.spacebetween {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/* ==========================================================================
    5.Nav 
   ==========================================================================
*/

.nav {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: var(--medium);
    background-color: #fff;
    z-index: 99999;
    overflow: hidden;
}

.nav a {
    color: #333;
}

.nav_title {
    background: #eee;
}

.nav_title h2 {
    text-align: center;
    padding: 20px 0;
}

.nav_header {
    width: 100%;
    background-color: #333;
    border-bottom: #eee 1px solid;
}

    .close i {
        color: var(--navgray);
        font-size: var(--largeicon);
    }

    .back i {
        color: var(--navgray);
        font-size: var(--largeicon);
    }

.nav_title > ul {
    display: flex;
    padding: 15px 0;
    border-bottom: var(--navgray) 1px solid;
    justify-content: center;
}

    .border-right {
        border-right: rgba(0,0,0,0.4) 1px solid;
    }

.nav_title > ul > li {
    width: calc(100%/3);
    text-align: center;
}

.nav_title li a {
    padding: 10px 0;
}

.nav_login {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav_login a {
    padding: 5px 0;
    border-radius: 50px;
    width: 120px;
    text-align: center;
    border: rgba(0,0,0,0.4) 1px solid;
    background-color: #fff;
    color: #666;
}

.nav_login a:hover {
    background-color: #333;
}

    
/* ==========================================================================
    6.Menu 
   ==========================================================================
*/

.menu {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
}

.menu h3 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #d2d2d2;
}

.menu > ul {
    position: relative;
}

.menu > ul > li {
    width: 50%;
    background: #eee;
    border-bottom: 2px solid #fff;
    text-align: center;
}

.menu > ul > li:last-child {
    border: 0;
}

.menu > ul > li > a {
    padding: 20px 0;
}

.menu > ul > li.active > a {
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

.submenu {
    position: absolute;
    top: 10px; left: 55%;
    font-size: 1.6rem;
    text-align: left;
}

.submenu > li > a {
    padding: 14px 0;
    color: #666;
}



/* ==========================================================================
    7.Main 
   ==========================================================================
*/

/* ------------------------------------------------- 
    메인 비주얼 main_visual
   ------------------------------------------------- */

.main_img {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.main_img > img {
    object-fit: cover;
    width: 100%;
}

.main_part {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.main_part > ul {
    display: flex;
    width: 100%;
}

.main_part > ul > li {
    width: 100%;
    text-align: center;
    background-color: #000;
    border-right: rgba(255,255,255,0.6) 1px solid;
    padding: 5px;
}

.main_part > ul > li:last-child {
    border-right: 0;
}

.main_part > ul > li > a {
    display: block;
    color: #fff;
    padding: 5px 0;
    width: 100%;
}

.main_part > ul > li.active > a {
    border: rgba(255,255,255,0.6) 1px solid;
}

.booking .btn > a {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0;
    border: #000 1px solid;
}

/* ------------------------------------------------- 
    [메인] 상단 콘텐츠 타이틀
   ------------------------------------------------- */

#main_content {
    margin: 80px 0 40px;
}

.main_headline {
    position: relative;
}

.main_headline h2 {
    font-size: 3rem;
    background: #fff;
    position: absolute;
    padding-right: 5px;
    z-index: 9;
}

    .m_line {
        border-top: #d2d2d2 1px solid;
        width: 100%;
        position: absolute;
        top: 20px;
        z-index: 7;
    }

.main_txt {
    padding: 50px 0 10px;
}

.main_txt > p > a {
    display: inline;
    font-weight: 400;
    text-decoration: underline;
}


/* ------------------------------------------------- 
    [메인] 하위 콘텐츠 타이틀 및 내용
   ------------------------------------------------- */

.content_title > div {
    margin-top: 20px;
    width: 100%;
    border: #000 1px solid;
    border-bottom: 0;
    padding: 20px;
}

.content_title > div > h3 {
    font-size: 3rem;
}

.content_img > div {
    width: 100%;
}

.content_img > div > img {
    width: 100%; height: auto;
    object-fit: cover;
}

.content_img .more {
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 99;
    translate: -10px -50px;
}

.content_img .more a {
    font-weight: 400;
    width: 250px;
    padding: 10px 0;
    border: #fff 1px solid;
    color: #fff;
    text-align: center;
    transition: background 0.3s;
}

.content_img .more a:hover  {
    background: rgba(255,255,255,0.8);
    color: #000;
}


/* ==========================================================================
    8.Footer 
   ==========================================================================
*/

#footer {
    border-top: #000 1px solid;
}

.footer_h1 {
    border-bottom: #d2d2d2 1px solid;
    height: 50px;
    display: flex;
}

.footer_h1 p {
    padding: 15px;
}

.footer_h1 img {
    width: auto;
    height: 50px;
    margin: 0 20px;
}


/* company */

.company {
    margin: 30px 0;
}

.company p {
    padding: 5px 0;
}


/* gnb */

.gnb {
    margin: 30px 0;
}

.gnb > ul {
    display: flex;
    justify-content: space-between;
}

.gnb > ul > li {
    padding: 5px 0;
}


/* copy */

.copy {
    padding: 10px 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy p {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}


